/* montserrat-regular - latin */
@font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/montserrat-v23-latin-regular.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/montserrat-v23-latin-regular.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 600;
     src: local(''),
          url('../fonts/montserrat-v23-latin-600.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/montserrat-v23-latin-600.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */
@font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
     src: local(''),
          url('../fonts/montserrat-v23-latin-500.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/montserrat-v23-latin-500.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     src: local(''),
          url('../fonts/montserrat-v23-latin-700.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/montserrat-v23-latin-700.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-900 - latin */
@font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 900;
     src: local(''),
          url('../fonts/montserrat-v23-latin-900.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/montserrat-v23-latin-900.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


* {
     margin: 0;
     padding: 0;
     list-style: none;
     color:#333333 ;
     font-family: Montserrat;
     border: none;
}

body{
     align-items: center;
     
}

a {
     display: block;
     text-decoration: none;
     color: #333333;
}

a:hover{
     color: #f7ba04af;

}

a:active{
     color: #FFC000;

}

button:active{
     background: #FFC000;
}

header{
     margin-left: auto;
     margin-right: auto;
     max-width: 1920px !important;
     margin-top: 20px;
     margin-bottom: 24px;
     
}

.container {
     max-width: 1920px !important;
     background-color:  #FBFBFB;
     padding: 10px 0 0 0;
}

.logo {
     margin-left: 277px;
     margin-right: 150px;
}

.header--item {
     list-style-type: none;
     margin-right: 30px;
}

.header--btn {
     border: none;
}

.header__btn {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 236px;
     height: 52px;
     margin-left: 114px;
     margin-right: 277px;
     border:none;
     background: #FFC000;
}

.header__btn:hover{
     background: #f8d364;
     box-shadow:2px 2px 7px 1px #333333;

}

.header__btn:active{
     background: #FFC000;
     box-shadow:5px 5px 7px 1px #333333;
}



/* MAIN SECTION */

.main{
     background-image: url("../img/exkav.png");
     background-repeat:no-repeat;
     height: 1050px;
     padding-top: 412px;
}

.main__titel{
     width: 50px;
}

.main__items{
     padding: 7px;
     border-radius: 5px;
     margin-bottom: 10px;
     display: inline-block;
     background:#fff;
}

.dots{
     display: flex;
}

.dot{
     width: 5px;
     height: 5px;
     border-radius: 50%;
     margin-left: 5px;
     margin-top: 20px;
     background-color: #828282;
}

.idot{
     margin-left: 0;
}

.buts{
     margin-top: 219px;
}

.butns{
     
     width: 86px;
     height: 6px;
     background-color: #fff;
     margin-right: 15px;
     background: #FFFFFF;
     border-radius: 3px;
     border: none;

}

.butns:active{
     background-color: #FF9900;
}

.butns:nth-child(4){
     margin: 0;
}



.section__title{
     flex-wrap: wrap;
     margin: 0;
     margin-top: 70px;
     margin-left: 200px;
     margin-right: 200px;
}

.section__items{
     text-align: center;
     background-color: #fff;
     width: 319px;
     margin-top: 30px;
     padding: 40px 60px 40px 60px;
     margin-right: 30px;
     box-shadow: 0px 15px 15px -10px rgba(0, 0, 0, 0.05);
}

.section__items:nth-child(4n){
     margin-right: 0;
}

.section__name{
     font-style: normal;
     font-weight: bold;
     text-align: center;
     color: #333333;
}

.section__link{
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 20px;
     color: #BDBDBD;
     text-align: center;
     padding-top: 10px;
     padding-right: 20px;
     padding-bottom: 10px;
     padding-left: 20px;
     border: #BDBDBD solid 1px;
}


.section__cotegory{
     display: block;
     font-style: normal;
     font-weight: 500;
     font-size: 19px;
     line-height: 20px;
     margin-left: auto;
     margin-right: auto;
     padding: 16px 80px;
     margin-top: 50px;
     margin-bottom: 100px;
     width: 384px;
     background: #FFC000;
}



.title{
     background-image: url(../img/image\ 3.png);
     width: 100%;
}

.title__list{
     display: flex;
     width: 100%;
     padding: 116px 277px;
     margin: 0;
     
}





.title__link{
     display: flex;
     align-items: center;
     width: 420px;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 29px;
     color: #FFFFFF;
     
}

.title__img{
     margin-right: 15px;
}

.section__vidios{
     font-style: normal;
     font-weight: bold;
     font-size: 48px;
     line-height: 59px;
     text-align: center;
     margin-top: 100px;
     margin-bottom: 50px;
}

.vidios__item{
     width:320px;
     padding: 10px;
     background-color: #fff;
     margin-right: 30px;
     margin-bottom: 100px;
}
.vidios__item:nth-child(4){
     margin-right: 0;
}

.vidios__title{
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 150%;
     width: 269px;
     text-align: left;
     margin-left: 15px;
}

.v__text {
     margin: 25px 0 15px 0 !important;
}


.v__name{
     font-style: normal;
     font-weight: 500;
     
     font-size: 12px;
     line-height: 150%;
     text-align: right;
     color: #BDBDBD;
}


.nashi{
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 29px;
     text-align: center;
     color: #828282;
}

.paddi{
     margin-top: 40px !important;
     padding: 0 185px  !important;
}

.footer{
     background: #333333;
}

.img__logo{
     margin-top: 100px;
     margin-left: 277px;
}

.spes{
     font-style: normal;
     font-weight: bold;
     font-size: 24px;
     line-height: 29px;
     color: #FFFFFF;
     margin-top: 139px !important;
     margin-left: 289px !important;
}

.pb{
     padding-bottom: 107px !important;
}

.mi{
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 22px;
     color: #FFFFFF;
     margin-top: 30px;
     margin-left: 277px;
     width: 319px;
}

.xi{
     margin-left: 277px;
     width: 319px;
}

.brrad{
     display: inline-block;
     padding: 10px;
     border-radius: 50%;
     background: #fff;
}

.robvr{
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 170%;
     color: #BDBDBD;
}

.whidth{
     margin-top: 10px;
     margin-left: 110px;
     width: 250px !important;
     margin-right: 150px;

}

.end{
     margin-bottom: 150px;
}

.salim{
     transform: rotate(180deg) !important;
}

.calon{
padding: 20px 18px;
background-color: #fff;
border-radius: 50%;
}

.maul__treul{
     width: 1366px;
     padding: 50px 120px;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 29px;
     text-align: center;
}

.coli{
     color: #828282;
     text-align: start;
     margin-bottom: 20px;

}


.sem__item{
     width: 435px;
     padding: 10px;
}

.w75{
     width: 1366px !important;
     justify-content: space-between ;
}

.w75>li{
     background-color: #fff;
}

.mster{
     margin-left: 277px;
     padding: 50px;
}

.serviselar{
     margin-top: 95px !important;
     width: 1366px !important;

}

.withker{
     width: 380px;
}

.m12{
     margin-left: 280px;
     margin-right: 280px;
     justify-content: space-between;
     margin-bottom: 30px;
}

.rangchi{
     font-style: normal;
     font-weight: 600;
     font-size: 48px;
     line-height: 59px;
     color: #4F4F4F;
}

.opasit{
     font-weight: normal;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     color: #BDBDBD;
}

.css__form{
     width: 1134px !important;
     justify-content: center; 

}

.css__inputs{
     border: rgba(0, 0, 0, 0.329) solid 1px !important;
     padding: 10px;

}

.mt555{
     margin-top: 200px;
}